In [1]:
import sys  
sys.path.insert(0, '/Users/caiorego/Desktop/BDS/RA/Seeding-Bandits/')
import numpy as np

In [2]:
music_before = 30
low_success = 0.25
high_success = 0.75

In [3]:
import src.utils
from src.utils import import_dta, import_tracks_dta, successful_creators_followers,\
gen_active_relations, get_fan_interactions_per_week, calculate_avg_monthly_valence,\
gen_active_relations_prob, get_fan_interactions_per_week_prob, stripplot_prob,\
reaction_probability, follower_list, filter_quantile, sample_creators_music,\
gen_outbound_creators
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import mstats
pd.plotting.register_matplotlib_converters()

import src.probability_utils
from src.probability_utils import volume_analysis, valence_analysis
import math
import matplotlib.ticker as plticker
from scipy.interpolate import make_interp_spline, BSpline
import seaborn as sns
from datetime import datetime

In [4]:
path_dir = r"/Users/../Volumes/Raw/"

In [5]:
#we will skip comments for now

#affiliations :follows
#favoritings :likes

tracks = import_tracks_dta(path_dir, "12sample_tracks.dta");
follows_sent = import_dta(path_dir, "12sample_affiliations_sent.dta");
comments_sent = import_dta(path_dir, "12sample_comments_made.dta");
shares_sent = import_dta(path_dir, "12sample_reposts_made.dta");
likes_sent = import_dta(path_dir, "12sample_favoritings_made.dta");
messages_sent = import_dta(path_dir, "12sample_messages_sent.dta");

user_info = import_dta(path_dir, "12sample_user_infos.dta");
user_info_2 = import_dta(path_dir, "12sample_1st_deg_user_infos.dta");
user_info = pd.concat([user_info, user_info_2]);
user_info.drop_duplicates(subset='user_id', keep='first', inplace=False, ignore_index=False);


########
follows_received = import_dta(path_dir, "12sample_affiliations_received.dta");
comments_received = import_dta(path_dir, "12sample_comments_received.dta");
shares_received = import_dta(path_dir, "12sample_reposts_received.dta");
likes_received = import_dta(path_dir, "12sample_favoritings_received.dta");
messages_received = import_dta(path_dir, "12sample_messages_received.dta");

########
follows = import_dta(path_dir, "12sample_affiliations.dta");
comments = import_dta(path_dir, "12sample_comments.dta");
shares = import_dta(path_dir, "12sample_reposts.dta");
likes = import_dta(path_dir, "12sample_favoritings.dta");
messages = import_dta(path_dir, "12sample_messages.dta");

tracks_first_month = sample_creators_music(tracks, music_before)

mask = follows_received.contact_id.isin(tracks_first_month.user_id)
follows_received_30 = follows_received[mask]
followers_per_creator_60 = successful_creators_followers(follows_received_30, 60)
followers_per_creator_60_static = successful_creators_followers(follows_received_30, 60, always_same_batches = True, 
                                                        perc1 = low_success, perc2 = high_success)

%%%%%%%%%% 12sample_tracks.dta %%%%%%%%%%
(56262, 7)
%%%%%%%%%% 12sample_affiliations_sent.dta %%%%%%%%%%
(800913, 3)
%%%%%%%%%% 12sample_comments_made.dta %%%%%%%%%%
(29258, 4)
%%%%%%%%%% 12sample_reposts_made.dta %%%%%%%%%%
(179329, 4)
%%%%%%%%%% 12sample_favoritings_made.dta %%%%%%%%%%
(527701, 4)
%%%%%%%%%% 12sample_messages_sent.dta %%%%%%%%%%
(11091, 3)
%%%%%%%%%% 12sample_user_infos.dta %%%%%%%%%%
(35000, 3)
%%%%%%%%%% 12sample_1st_deg_user_infos.dta %%%%%%%%%%
(670746, 3)
%%%%%%%%%% 12sample_affiliations_received.dta %%%%%%%%%%
(432503, 3)
%%%%%%%%%% 12sample_comments_received.dta %%%%%%%%%%
(21386, 4)
%%%%%%%%%% 12sample_reposts_received.dta %%%%%%%%%%
(83013, 4)
%%%%%%%%%% 12sample_favoritings_received.dta %%%%%%%%%%
(286903, 4)
%%%%%%%%%% 12sample_messages_received.dta %%%%%%%%%%
(17364, 3)
%%%%%%%%%% 12sample_affiliations.dta %%%%%%%%%%
(1233416, 3)
%%%%%%%%%% 12sample_comments.dta %%%%%%%%%%
(50644, 4)
%%%%%%%%%% 12sample_reposts.dta %%%%%%%%%%
(262342, 4)
%%%%%%%%%% 12sample_favoritings.dta %%%%%%%%%%
(814604, 4)
%%%%%%%%%% 12sample_messages.dta %%%%%%%%%%
(28455, 3)
2018-02-03 00:00:00
2018-02-03 00:00:00
High influencer boundary: 31.0
Low influencer boundary: 4.0

In [6]:
actions_sent = gen_outbound_creators(follows_sent, shares_sent, likes_sent, comments_sent, tracks,
                                     messages_sent = messages_sent, filter_creators = False)

In [7]:
actions_sent.shape

(1540549, 7)

In [8]:
actions_sent = actions_sent.merge(followers_per_creator_60_static, left_on = 'user_id', right_on = 'user_id', how = "inner")

In [9]:
actions_sent = actions_sent.merge(user_info, left_on = 'user_id', right_on = 'user_id')
actions_sent = actions_sent.merge(user_info[['user_id', 'type']], left_on = 'fan_id', right_on = 'user_id', suffixes = ["", "_fan"], how = 'left')
mask = actions_sent.type == 'creator'
actions_sent =  actions_sent[mask]

In [10]:
actions_sent.type.value_counts()

creator    232753
Name: type, dtype: int64

In [11]:
followers_per_creator_60_static.groupby("high_low").agg(avg_followers = ('followers', 'mean'))

          avg_followers
high_low
high         153.869263
low            2.070111

In [12]:
followers_per_creator_60_static.groupby("high_low").agg(avg_followers = ('followers', 'sum'))

          avg_followers
high_low
high             110632
low                1683

In [13]:
followers_per_creator_60_static.agg(avg_followers = ('followers', 'mean'))

               followers
avg_followers  73.312663

In [14]:
followers_per_creator_60_static.agg(avg_followers = ('followers', 'sum'))

               followers
avg_followers     112315

In [15]:
actions_sent["type"] = actions_sent.type.apply(lambda x: "user" if x != "creator" else x)

In [16]:
followers_per_creator_60_static.groupby("high_low").user_id.nunique()

high_low
high    719
low     813
Name: user_id, dtype: int64

In [17]:
followers_per_creator_60_static.user_id.nunique()

1532

# All

In [18]:
table_all = actions_sent.\
groupby(["high_low","outbound_activity"], as_index = False).agg(interactions = ('user_id','count'))

tab = actions_sent.groupby('high_low', as_index = False).nunique()

tab.loc[tab.type == 'user', 'user_id']

table_all.loc[table_all.high_low == 'high','unique_users'] = 719#tab.loc[tab.high_low == 'high', 'user_id'][0]
table_all.loc[table_all.high_low == 'low','unique_users'] = 813#tab.loc[tab.high_low == 'low', 'user_id'][1]


table_all['avg_reaction'] = round(table_all.interactions/table_all.unique_users,2)

In [19]:
table_all

  high_low outbound_activity  interactions  unique_users  avg_reaction
0     high           comment          7027         719.0          9.77
1     high            follow        135357         719.0        188.26
2     high              like         49981         719.0         69.51
3     high           message          9658         719.0         13.43
4     high             share         19202         719.0         26.71
5      low           comment           221         813.0          0.27
6      low            follow          9047         813.0         11.13
7      low              like          1566         813.0          1.93
8      low           message            49         813.0          0.06
9      low             share           645         813.0          0.79

In [20]:
table_all = actions_sent.\
groupby(["outbound_activity"], as_index = False).agg(interactions = ('user_id','count'))


table_all["unique_users"] = 1532#actions_sent.user_id.nunique()

table_all['avg_reaction'] = round(table_all.interactions/table_all.unique_users,2)

In [21]:
table_all

  outbound_activity  interactions  unique_users  avg_reaction
0           comment          7248          1532          4.73
1            follow        144404          1532         94.26
2              like         51547          1532         33.65
3           message          9707          1532          6.34
4             share         19847          1532         12.95

## Creator x Creator

In [22]:
mask = actions_sent.type_fan != 'creator'
actions_sent_filt = actions_sent[mask]
table_all = actions_sent_filt.\
groupby(["high_low","outbound_activity"], as_index = False).agg(interactions = ('user_id','count'))

tab = actions_sent_filt.groupby('high_low', as_index = False).nunique()

tab.loc[tab.type == 'user', 'user_id']

table_all.loc[table_all.high_low == 'high','unique_users'] = 719#tab.loc[tab.high_low == 'high', 'user_id'][0]
table_all.loc[table_all.high_low == 'low','unique_users'] = 813#tab.loc[tab.high_low == 'low', 'user_id'][1]


table_all['avg_reaction'] = round(table_all.interactions/table_all.unique_users,2)

In [23]:
table_all

  high_low outbound_activity  interactions  unique_users  avg_reaction
0     high           comment           669         719.0          0.93
1     high            follow         32919         719.0         45.78
2     high              like          7449         719.0         10.36
3     high           message          1797         719.0          2.50
4     high             share          2835         719.0          3.94
5      low           comment            75         813.0          0.09
6      low            follow           797         813.0          0.98
7      low              like           540         813.0          0.66
8      low           message            32         813.0          0.04
9      low             share           271         813.0          0.33

In [24]:
mask = actions_sent.type_fan != 'creator'
actions_sent_filt = actions_sent[mask]

table_all = actions_sent_filt.\
groupby(["outbound_activity"], as_index = False).agg(interactions = ('user_id','count'))


table_all["unique_users"] = 1532#actions_sent.user_id.nunique()

table_all['avg_reaction'] = round(table_all.interactions/table_all.unique_users,2)
table_all

  outbound_activity  interactions  unique_users  avg_reaction
0           comment           744          1532          0.49
1            follow         33716          1532         22.01
2              like          7989          1532          5.21
3           message          1829          1532          1.19
4             share          3106          1532          2.03

In [25]:
mask = user_info.user_id.isin(user_info_2.user_id)
user_info[mask]

          user_id     type          created_at
119      37981334          2013-03-02 14:43:16
191      38107144          2013-03-03 16:45:47
192      38108983          2013-03-03 17:13:16
310      38234913  creator 2013-03-05 01:21:57
325      38247599          2013-03-05 04:45:40
...           ...      ...                 ...
670741  160366917          2015-06-29 03:51:08
670742  160556475          2015-06-30 10:02:16
670743  160592014          2015-06-30 15:48:27
670744  160615335          2015-06-30 18:37:51
670745  160636803          2015-06-30 21:05:39

[671192 rows x 3 columns]

In [26]:
#only 446 user_ids in common

In [27]:
actions_sent = actions_sent.merge(user_info[['user_id', 'type']], left_on = 'fan_id', right_on = 'user_id', suffixes = ["", "_fan"], how = 'left')