**This notebook is the executable version of lab note 3.
It answers the following questions:**

Finally, we answer 4 items:

    1. Are successful creators more connected to high-outdegree users than do unsuccessful creators?
    2. Are mavens more connected to successful creators than to unsuccessful creators?
    3. Do successful creators send more non-follow actions towards mavens than to zombies?
    4. Do successful creators send more non-follow actions towards mavens than to stars?

In [1]:
#Run parameters
#used to control every run. Can be user to perfom sensitivity checks
path_dir = r"/Users/../Volumes/Raw/"

low_success = 0.5 #below the median: unsuccessful
high_success = 0.9 #top 10% creators with more followers are deemed successful

low_user_outdegree = 0.25 
high_user_outdegree = 0.75
low_user_activity = 0.25 
high_user_activity = 0.75 

activity_filter = 0
days_delta = 7

In [2]:
import sys  
import pickle
sys.path.insert(0, '/Users/caiorego/Desktop/BDS/RA/Seeding-Bandits/')
import numpy as np
import src.utils
from collections import Counter
from src.utils import import_dta, import_tracks_dta,\
gen_active_relations, get_fan_interactions_per_week, calculate_avg_monthly_valence,\
gen_active_relations_prob, get_fan_interactions_per_week_prob, stripplot_prob,\
reaction_probability, follower_list, filter_quantile, sample_creators_music,\
gen_outbound_creators
import numpy as np
import datetime
import pandas as pd
from tqdm import tqdm
import dask.dataframe as dd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy
import os
from statsmodels.stats.proportion import proportions_ztest

In [3]:
def process_date(date):
    '''convert date format like '2013-w09' to '2013-03-04', i.e. the first day of that week'''
    year = date[0:4]
    week = date[6:]
    day = "1"
    date = "{}-{}-1".format(year, week)
    dt = datetime.datetime.strptime(date, "%Y-%W-%w")
    return dt

# Data Imports

We start by importing the raw data.  `follows_sent`, `comments_sent`, `shares_sent`, `likes_sent` and `messages_sent` contains data pn the promotional activities that the 35k users tracked in the dataset directed to other users. It includes the `user_id`, the `fan_id` and the `date_sent` which identifies the date when the prom. activity was sent. `users_info_1st` shows the type of user (creator or non-creator, which is identified by a blank) and the date the user entered the platform, for every user that sent or received prom. activities from any of the 35k users tracked in this dataset, while `users_info` contains the same information, but pertaining to the 35k users themselves.

`follows_received` contains information on the follows received by the 35k users and will be used to generate the successful/unsuccessful groups of content creators.

In [4]:
#affiliations :follows
#favoritings :likes

#used in filtering:
path_dir = r"/Users/../Volumes/Raw/"
tracks = import_tracks_dta(path_dir, "12sample_tracks.dta");

#these are the actions sent to 
follows_sent = import_dta(path_dir, "12sample_affiliations_sent.dta");
comments_sent = import_dta(path_dir, "12sample_comments_made.dta");
shares_sent = import_dta(path_dir, "12sample_reposts_made.dta");
likes_sent = import_dta(path_dir, "12sample_favoritings_made.dta");
messages_sent = import_dta(path_dir, "12sample_messages_sent.dta");

#Used to track information on the 1st degree connections
user_info_1st = import_dta(path_dir, "12sample_1st_deg_user_infos.dta");
user_info_1st.columns = ['user_id', 'type', 'entered_platform'];
user_info = import_dta(path_dir, "12sample_user_infos.dta");

#Used to compute creator's success measure
follows_received = import_dta(path_dir, "12sample_affiliations_received.dta");

%%%%%%%%%% 12sample_tracks.dta %%%%%%%%%%
(56262, 7)
%%%%%%%%%% 12sample_affiliations_sent.dta %%%%%%%%%%
(800913, 3)
%%%%%%%%%% 12sample_comments_made.dta %%%%%%%%%%
(29258, 4)
%%%%%%%%%% 12sample_reposts_made.dta %%%%%%%%%%
(179329, 4)
%%%%%%%%%% 12sample_favoritings_made.dta %%%%%%%%%%
(527701, 4)
%%%%%%%%%% 12sample_messages_sent.dta %%%%%%%%%%
(11091, 3)
%%%%%%%%%% 12sample_1st_deg_user_infos.dta %%%%%%%%%%
(670746, 3)
%%%%%%%%%% 12sample_user_infos.dta %%%%%%%%%%
(35000, 3)
%%%%%%%%%% 12sample_affiliations_received.dta %%%%%%%%%%
(432503, 3)

Indegree and outdegree information.

The function below import the outdegree dataset. Because the raw version of those dataset are too large to be processed in memory, we preprocessed them in a separate script.

In [5]:
# Aggregates preprocessed outdegree of 1st degree users
def import_outdegree(path='/Users/caiorego/Desktop/BDS/RA/Seeding-Bandits/'):
    d = {}
    for i in range(6):
       d[str(i)] = pd.read_pickle(os.path.join(path,'{}.pkl'.format(i))) 
       d[str(i)]['created_at'] =  pd.to_datetime(d[str(i)]['created_at'])
       d[str(i)]['created_at'] = pd.to_datetime(d[str(i)]['created_at']).dt.floor('d')
       d[str(i)] = d[str(i)].groupby(['sender_id', 'created_at'], as_index = False).size() 
    
    data_outdegree = pd.concat([d['0'], d['1'], d['2'], d['3'], d['4'], d['5']])
    #data_outdegree.set_index('created_at', inplace = True)
    return data_outdegree

In [6]:
data_outdegree = import_outdegree()

In [7]:
#data_outdegree = data_outdegree.groupby(['sender_id','created_at'], as_index = False).size()

# Preprocessing

## Creator ids, successful and unsucessful creators

Next, we define three lists of ids: one with the ids from the content creators, according to the `users_info` table, one with the ids of successful creators and the last one with the ids of the unsuccessful ones.

Let's start with a list of the id of creators. We also create a dataset with containing information on creators only.

In [8]:
mask = (tracks.track_available == 1) & (tracks.public == 't')
creator_ids = tracks[mask].user_id.unique()

creators = tracks[(tracks.track_available == 1) & (tracks.public == 't')]

#mask = user_info.type == 'creator'
#creator_ids = user_info[mask].user_id.unique()

#creators = user_info[user_info.type == 'creator']

## Putting together a dataset with the promotional activities made by content creators.

The function `gen_actions_sent_df` creates a dataframe with all the promotional activities that content creators sent to users.

In [9]:
def gen_actions_sent_df(follows_sent, shares_sent, likes_sent, comments_sent, messages_sent, creator_ids = creator_ids):
    '''
    Creates dataframe containing the actions that content creators send to users.
        Attributes:
                    follows_sent:  dataframe with the follows sent by the 35k users.
                    shares_sent:   dataframe with the shares sent by the 35k users.
                    likes_sent:    dataframe with the likes sent by the 35k users.
                    comments_sent: dataframe with the comments sent by the 35k users.
                    messages_sent: dataframe with the messages sent by the 35k users.
                    creator_ids:   list with content creator ids. If not none, is used to
                                   filter out activities from non creators.
    '''
    
    follows_sent['outbound_activity'] = 'follow'
    follows_sent.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']

    if 'song_id' in shares_sent.columns:
        shares_sent.drop(columns=["song_id"])
    shares_sent = shares_sent[['reposter_id', "owner_id", 'created_at']]
    shares_sent['outbound_activity'] = 'share'
    shares_sent.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']

    if 'track_id' in likes_sent.columns:
        likes_sent.drop(columns=["track_id"], inplace=True)
    likes_sent['outbound_activity'] = 'like'
    likes_sent.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']

    if 'track_id' in comments_sent.columns:
        comments_sent.drop(columns=["track_id"], inplace=True)
    comments_sent['outbound_activity'] = 'comment'
    comments_sent.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']

    messages_sent["outbound_activity"] = 'message'
    messages_sent.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']
    df = pd.concat([follows_sent, shares_sent, likes_sent, comments_sent, messages_sent])


    if type(creator_ids) == numpy.ndarray:
        df = df[df['user_id'].isin(creator_ids)]
        
    df['week_yr'] = df.date_sent.dt.strftime('%Y-w%U')
    df = df.loc[df['user_id'] != df['fan_id'],:]

    return df

In [10]:
actions_sent = gen_actions_sent_df(follows_sent, shares_sent, likes_sent, comments_sent,
                                     messages_sent, creator_ids = None)
actions_sent = actions_sent.loc[actions_sent.user_id.isin(creators.user_id.unique())]

In [11]:
active_users_ids = actions_sent.groupby('user_id', as_index = False).size()
mask = active_users_ids['size']>= activity_filter
active_users_ids = active_users_ids[mask].user_id.unique()

In [12]:
def successful_creators_followers(follows_received, base_date = datetime.datetime(2016, 5, 30, 0, 0), perc1 = None, perc2 = None, subset_creators = None):
    '''Classifies content creators in successful or unsuccessfull
        Arguments:
                    follows_received: dataframe containing the follows received by content creators
                    base date:        date, in datetime.datetime(YYYY, M, DD, H, M) format, in which the number 
                                      of followers per creator is calculated.
                    perc1:            the threshold used to classify unsuccessful content creators. Creator having 
                                      total followers below the number dictated by this threshold, at the base date,
                                      are classified as unsuccessful 
                    perc2:            the threshold used to classify successful content creators. Creator having 
                                      total followers above the number dictated by this threshold, at the base date,
                                      are classified as successful
                    subset_creators:  a pd.DataFrame containing the creators. If is it available, it will be used to 
                                      filter out non creators and to make sure creators with 0 followers are part of
                                      the resulting dataset.
        
    '''
    print(base_date)

    if 'inbound_activity' not in follows_received.columns:
        follows_received.columns = ['fan_id', 'user_id', 'date_sent']

    mask = (follows_received['date_sent'] < base_date)

    df = follows_received[mask].groupby('user_id', as_index=False).agg({'fan_id': pd.Series.nunique})
    df.columns = ['user_id', 'followers']

    
    if type(subset_creators) == pd.DataFrame:
        print('subsetting...')
        df.set_index('user_id', inplace = True)
        df = df.reindex(subset_creators.user_id.unique())
        df.fillna(0, inplace = True)
        df.reset_index(inplace = True)
        df.columns = ['user_id', 'followers']
        
    mask = df.user_id.isin(active_users_ids)
    df = df[mask]

    low = np.quantile(df.followers, perc1)
    high = np.quantile(df.followers, perc2)

    print("High influencer boundary: {}".format(high))
    print("Low influencer boundary: {}".format(low))

    mask = (df["followers"] <= low) | (df["followers"] >= high)
    
    unsuccessful_creator_ids = df.loc[df["followers"] <= low].user_id.unique()
    successful_creator_ids = df.loc[df["followers"] >= high].user_id.unique()

    return unsuccessful_creator_ids, successful_creator_ids

In [13]:
unsuccessful_ids, successful_ids = successful_creators_followers(follows_received, 
                                                        perc1 = low_success, perc2 = high_success, subset_creators = creators)

2016-05-30 00:00:00
subsetting...
High influencer boundary: 81.0
Low influencer boundary: 13.0

In [14]:
print(len(unsuccessful_ids))
print(len(successful_ids))

1959
389

In [15]:
creators.user_id.nunique()

4604

## Filter only actions that were sent to non-fans

We merge the `actions_sent` dataset with a table containing the date each fan started following the creator.

In [16]:
follows_received.columns = ['fan_id', 'user_id', 'date_sent']
followers = follows_received[["fan_id", "user_id", "date_sent"]]
followers.columns = ["fan_id", "user_id", "follower_since"]

actions_sent = actions_sent.merge(followers, right_on = ['user_id', 'fan_id'],
                                      left_on = ['user_id', 'fan_id'], how = 'left')

Since we are interested in acquisition campaings, we need to produce a dataset that exclude actions targetting fans.
We do that using filters based on the date of the action and the date that the user became a fan of the content creator. The resulting dataframe is named `actions_sent_non_fans`.

We then filter only actions that happened before the user follows the content creator.

In [17]:
mask = (actions_sent.date_sent < actions_sent.follower_since) | (actions_sent.follower_since.isnull())
actions_sent_non_fans =  actions_sent[mask]
actions_sent_non_fans['week_yr_date'] = actions_sent_non_fans.week_yr.apply(lambda x: process_date(x))

/var/folders/f2/cgjzt69n5hlgmtsm36p1pztw0000gn/T/ipykernel_29103/3855957735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actions_sent_non_fans['week_yr_date'] = actions_sent_non_fans.week_yr.apply(lambda x: process_date(x))

## Outdegree level

Originally, we only have outdegree information on users that follow at least one user. The function below inputs an outdegree of 0 to users that are following anyone.

In [18]:
#CHANGE DOCUMENTATION
def outdegree_level(data, date, user_info = user_info_1st):
    
    '''
    This function returns the membership table at date equals `date`. Every user that interacted with the 35k tracked 
    users and entered the platform before `date` is present in the table, even if it has indegree 0.
    arguments:
              data:           the indegree dataset.
              user_info:      the dataset containing all the users that interacted with the 35k users tracked.
    '''
    
    data = data[data.created_at.dt.floor('d')<=date]
    data = data.groupby('sender_id').agg({'size':'sum'}).compute()
    
    #merge with user info to obtain users that are not followed by anyone at the current date
    data = user_info_1st.merge(data, left_on = 'user_id', right_on = 'sender_id', how= 'outer')
    data.loc[data['size'].isnull(), 'size'] = 0
    data = data[['user_id', 'size', 'entered_platform']].set_index('user_id')
    
    #filter out users that didnt exist in the current date
    mask = data['entered_platform'].dt.floor('d') <= date
    data = data.loc[mask]
    
    mask = (data['size']>0)
    data.loc[~mask, 'size'] = 0 
    
    return data

In [19]:
#dask is a python api with objects optimized for big data (user directed acyclic graphs). 
dask_outdegree = dd.from_pandas(data_outdegree, npartitions = 3)

In [20]:
last_day =  max(actions_sent.date_sent.dt.floor('d').unique())
user_outdegree = outdegree_level(dask_outdegree, last_day, user_info = user_info_1st)

Now we classify the creator in successful and unsuccessful, according to the threshold defined in the beggining of this notebook.

In [21]:
def user_outdegree_level(oudegree_data, perc1 = None, perc2 = None):
    '''Classifies content creators in successful or unsuccessfull
        Arguments:
                    oudegree_data:    dataframe containing the fans followers at 
                    perc1:            the threshold used to classify unsuccessful content creators. Creator having 
                                      total followers below the number dictated by this threshold, at the base date,
                                      are classified as unsuccessful 
                    perc2:            the threshold used to classify successful content creators. Creator having 
                                      total followers above the number dictated by this threshold, at the base date,
                                      are classified as successful
    '''

    df = oudegree_data.reset_index().iloc[:,:2]
    df.columns = ['user_id', 'followers']

    low = np.quantile(df.followers, perc1)
    high = np.quantile(df.followers, perc2)

    print("High outdegree boundary: {}".format(high))
    print("Low outdegree boundary: {}".format(low))
    
    low_outdegree_ids = df.loc[df["followers"] <= low].user_id.unique()
    high_outdegree_ids = df.loc[df["followers"] >= high].user_id.unique()
    
    
    df['outdegree_level'] = df.user_id.apply(
        lambda x: 'high' if x in high_outdegree_ids else ('low' if x in low_outdegree_ids else None))

    
    return df, low_outdegree_ids, high_outdegree_ids

In [22]:
user_outdegree_df, low_outdegree_ids, high_outdegree_ids = user_outdegree_level(user_outdegree,
                perc1 = low_user_outdegree, perc2 = high_user_outdegree)

High outdegree boundary: 162.0
Low outdegree boundary: 17.0

In the cell below, we create a list with unique ids from users that appear in the oudegree level table. This will later be uses to construct a flow-chart indicating how we lose data based on filters and operations.

In [23]:
receiver_ids = user_outdegree.index.unique()

## Non-follow Actions level

The activity level is defined as the number of actions performed by users. It is important to notice that we only observe actions targeting the 35k users that joined in march 2012. We consider this measure a proxy for the real activity level.

Let's begin by creating a dataset with all action received by those 35k users.

In [24]:
comments_received_35k = import_dta(path_dir, "12sample_comments_received.dta");
shares_received_35k = import_dta(path_dir, "12sample_reposts_received.dta");
likes_received_35k = import_dta(path_dir, "12sample_favoritings_received.dta");
messages_received_35k = import_dta(path_dir, "12sample_messages_received.dta");

if 'song_id' in shares_received_35k:
        shares_received_35k.drop(columns=["song_id"])
shares_received_35k = shares_received_35k[['reposter_id', "owner_id", 'created_at']]
shares_received_35k['outbound_activity'] = 'share'
shares_received_35k.columns = ['fan_id', 'user_id', 'date_sent', 'outbound_activity']

if 'track_id' in likes_received_35k:
        likes_received_35k = likes_received_35k.drop(columns=["track_id"])
likes_received_35k['outbound_activity'] = 'like'
likes_received_35k.columns = ['fan_id', 'user_id', 'date_sent', 'outbound_activity']

if 'track_id' in comments_received_35k:
        comments_received_35k = comments_received_35k.drop(columns=["track_id"])
comments_received_35k['outbound_activity'] = 'comment'
comments_received_35k.columns = ['fan_id', 'user_id', 'date_sent', 'outbound_activity']

messages_received_35k["outbound_activity"] = 'message'
messages_received_35k.columns = ['user_id', 'fan_id', 'date_sent', 'outbound_activity']

user_activity_data_35k = pd.concat([shares_received_35k, likes_received_35k, comments_received_35k, messages_received_35k])

%%%%%%%%%% 12sample_comments_received.dta %%%%%%%%%%
(21386, 4)
%%%%%%%%%% 12sample_reposts_received.dta %%%%%%%%%%
(83013, 4)
%%%%%%%%%% 12sample_favoritings_received.dta %%%%%%%%%%
(286903, 4)
%%%%%%%%%% 12sample_messages_received.dta %%%%%%%%%%
(17364, 3)

In [25]:
path_dir_2 = r'/Users/../Volumes/Alter_outbound_activities/'

comments_received_c = import_dta(path_dir_2, "12sample_1st_deg_comments_made.dta");
shares_received_c = import_dta(path_dir_2, "12sample_1st_deg_reposts_made.dta");
likes_received_c = import_dta(path_dir_2, "12sample_1st_deg_favoritings_made.dta");
messages_received_c = import_dta(path_dir_2, "12sample_1st_deg_messages_sent.dta");

%%%%%%%%%% 12sample_1st_deg_comments_made.dta %%%%%%%%%%
(21463011, 4)
%%%%%%%%%% 12sample_1st_deg_reposts_made.dta %%%%%%%%%%
(18953640, 4)
%%%%%%%%%% 12sample_1st_deg_favoritings_made.dta %%%%%%%%%%
(86793370, 4)
%%%%%%%%%% 12sample_1st_deg_messages_sent.dta %%%%%%%%%%
(16824074, 3)

In [26]:
if 'song_id' in shares_received_c:
        shares_received_c.drop(columns=["song_id"])
shares_received_c = shares_received_c[['reposter_id', "owner_id", 'created_at']]
shares_received_c['inbound_activity'] = 'share'
shares_received_c.columns = ['fan_id', 'user_id', 'date_sent', 'inbound_activity']

if 'track_id' in likes_received_c:
        likes_received_c = likes_received_c.drop(columns=["track_id"])
likes_received_c['inbound_activity'] = 'like'
likes_received_c.columns = ['fan_id', 'user_id', 'date_sent', 'inbound_activity']

if 'track_id' in comments_received_c:
        comments_received_c = comments_received_c.drop(columns=["track_id"])
comments_received_c['inbound_activity'] = 'comment'
comments_received_c.columns_c = ['fan_id', 'user_id', 'date_sent', 'inbound_activity']

messages_received_c["outbound_activity"] = 'message'
messages_received_c.columns = ['user_id', 'fan_id', 'date_sent', 'inbound_activity']

/var/folders/f2/cgjzt69n5hlgmtsm36p1pztw0000gn/T/ipykernel_29103/1613121866.py:15: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  comments_received_c.columns_c = ['fan_id', 'user_id', 'date_sent', 'inbound_activity']

In [27]:
user_activity_data_c = pd.concat([shares_received_c, likes_received_c, comments_received_c, messages_received_c])

In [28]:
def user_activity_level(user_activity_data, receiver_ids, perc1 = None, perc2 = None):
    '''Classifies users based on the amount of non-follow activities
        Arguments:
                    user_activity_data:   dataframe containing the user activities 
                    base date:             date, in datetime.datetime(YYYY, M, DD, H, M) format, in which the number 
                                           of followers per creator is calculated.
                    perc1:                 the threshold used to classify unsuccessful content creators. Creator having 
                                           total followers below the number dictated by this threshold, at the base date,
                                           are classified as unsuccessful 
                    perc2:                 the threshold used to classify successful content creators. Creator having 
                                           total followers above the number dictated by this threshold, at the base date,
                                           are classified as successful
    '''

    df = user_activity_data.groupby('fan_id', as_index = True).size()
    df = df.reindex(receiver_ids)
    print(df.shape)
    df = df.reset_index()
    df.columns = ['user_id', 'activities_performed']
    
    df.loc[df.activities_performed.isna(), 'activities_performed'] = 0
    #classification should happen after this

    low = np.quantile(df.activities_performed, perc1)
    high = np.quantile(df.activities_performed, perc2)

    print("High activity boundary: {}".format(high))
    print("Low activity boundary: {}".format(low))
    
    low_activity_ids = df.loc[df["activities_performed"] <= low].user_id.unique()
    high_activity_ids = df.loc[df["activities_performed"] > high].user_id.unique()
    
    df['activity_level'] = df.user_id.apply(
    lambda x: 'high' if x in high_activity_ids else ('low' if x in low_activity_ids else None))

    return df, low_activity_ids, high_activity_ids

In [29]:
activity_level, low_activity_ids, high_activity_ids = user_activity_level(user_activity_data_c, receiver_ids, 
                perc1 = low_user_activity, perc2 = high_user_activity)

(670746,)
High activity boundary: 70.0
Low activity boundary: 1.0

Once more we create an object containing the unique ids of users in the resulting dataset. This will be used in a flow-chart, as explained.

In [30]:
activity_ids = np.append(low_activity_ids, high_activity_ids)

# Priori response probabilities

In [31]:
table_data = user_outdegree_df.merge(activity_level, left_on = 'user_id', right_on = 'user_id', how = 'inner')
table_data.groupby(['outdegree_level', 'activity_level']).size()
table_data['Type'] = table_data.apply(lambda x: 
    'f_a' if (x.outdegree_level == 'low') & (x.activity_level == 'high')
     else ('Hermit' if (x.outdegree_level == 'low') & (x.activity_level == 'low')
     else ('Observer' if (x.outdegree_level == 'high') & (x.activity_level == 'low')
     else ('w_a' if (x.outdegree_level == 'high') & (x.activity_level == 'high')
     else 'other'))), axis=1)

hermit_ids = table_data.loc[table_data.Type =='Hermit'].user_id.unique()
w_a_ids = table_data.loc[table_data.Type =='w_a'].user_id.unique()
f_a_ids = table_data.loc[table_data.Type =='f_a'].user_id.unique()
observer_ids = table_data.loc[table_data.Type =='Observer'].user_id.unique()

In [32]:
actions_sent_non_fans['user_type'] = actions_sent_non_fans.fan_id.apply(lambda x: 'f_a' if x in f_a_ids else 
                          ('Hermit' if x in hermit_ids else
                          ('Observer' if x in observer_ids else
                          ('w_a' if x in w_a_ids else 'other'))))

## classify content creators
actions_sent_non_fans['creator_type'] = actions_sent_non_fans.user_id.apply(
                                            lambda x: 'successful' if x in successful_ids else 
                                            ('unsuccessful' if x in unsuccessful_ids else 'other'))

/var/folders/f2/cgjzt69n5hlgmtsm36p1pztw0000gn/T/ipykernel_29103/4013368133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actions_sent_non_fans['user_type'] = actions_sent_non_fans.fan_id.apply(lambda x: 'f_a' if x in f_a_ids else
/var/folders/f2/cgjzt69n5hlgmtsm36p1pztw0000gn/T/ipykernel_29103/4013368133.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actions_sent_non_fans['creator_type'] = actions_sent_non_fans.user_id.apply(

In [33]:
import datetime
# Target Creation
delta = datetime.timedelta(days = days_delta)
mask = (actions_sent_non_fans['follower_since'] <= (actions_sent_non_fans['date_sent'] + delta))

response_df = actions_sent_non_fans
response_df.loc[mask, 'reward'] = 1
mask = response_df['reward'].isnull()
response_df.loc[mask, 'reward'] = 0

/var/folders/f2/cgjzt69n5hlgmtsm36p1pztw0000gn/T/ipykernel_29103/1567758641.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response_df.loc[mask, 'reward'] = 1

In [34]:
attempts = response_df.groupby(['creator_type', 'user_type'], as_index = False).size()
rewards = response_df.groupby(['creator_type', 'user_type'], as_index = False).agg({'reward' : 'sum'})

priori_prob_df = rewards.merge(attempts)
priori_prob_df['P_resp_prob'] = priori_prob_df['reward']/priori_prob_df['size']
priori_prob_df

    creator_type user_type  reward    size  P_resp_prob
0          other    Hermit   160.0   14025     0.011408
1          other  Observer    12.0     303     0.039604
2          other       f_a    19.0   14778     0.001286
3          other     other  3224.0   95966     0.033595
4          other       w_a  1003.0   23615     0.042473
5     successful    Hermit    84.0    7258     0.011573
6     successful  Observer    60.0     691     0.086831
7     successful       f_a    45.0   13164     0.003418
8     successful     other  6237.0  104129     0.059897
9     successful       w_a  6418.0   51416     0.124825
10  unsuccessful    Hermit    73.0    5259     0.013881
11  unsuccessful  Observer     2.0      61     0.032787
12  unsuccessful       f_a    11.0    5400     0.002037
13  unsuccessful     other   739.0   40169     0.018397
14  unsuccessful       w_a   139.0    6009     0.023132

# Priori repost probabilities

In [35]:
user_activity_data_35k

         fan_id    user_id           date_sent outbound_activity
0      33635491   38135744 2013-03-05 05:50:34             share
1      38321910   38123852 2013-03-05 23:11:40             share
2      38263941   38263941 2013-03-06 17:43:46             share
3      38470533   38470533 2013-03-09 13:10:51             share
4       6746343   38145276 2013-03-11 06:32:23             share
...         ...        ...                 ...               ...
17359  38454344   45734072 2015-06-25 12:58:18           message
17360  38247575  160132541 2015-06-27 18:11:42           message
17361  37923935  160510643 2015-06-30 05:25:18           message
17362  37875920  160559068 2015-06-30 10:46:04           message
17363  38455179   20136791 2015-07-02 02:05:07           message

[408666 rows x 4 columns]

In [36]:
user_activity_data_35k['day_yr_date'] = user_activity_data_35k.date_sent.dt.normalize()

reposts_df = user_activity_data_35k.loc[user_activity_data_35k.outbound_activity == 'share']

In [37]:
actions_sent['user_type'] = actions_sent.fan_id.apply(lambda x: 'f_a' if x in f_a_ids else 
                          ('Hermit' if x in hermit_ids else
                          ('Observer' if x in observer_ids else
                          ('w_a' if x in w_a_ids else 'other'))))

## classify content creators
actions_sent['creator_type'] = actions_sent.user_id.apply(
                                            lambda x: 'successful' if x in successful_ids else 
                                            ('unsuccessful' if x in unsuccessful_ids else 'other'))

In [38]:
repost_prob_df = actions_sent
repost_prob_df.sort_values(['user_id', 'fan_id'], inplace = True)
repost_prob_df['reward_repost'] = np.nan
for user_id in tqdm(repost_prob_df.user_id.unique()):
    for fan_id in repost_prob_df.loc[repost_prob_df.user_id == user_id].fan_id.unique():
        repost_prob_df.loc[(repost_prob_df.user_id == user_id)&
                              (repost_prob_df.fan_id == fan_id),'reward_repost'] =\
        repost_prob_df.loc[(repost_prob_df.user_id == user_id)&
                              (repost_prob_df.fan_id == fan_id)].date_sent.apply(
        lambda x : 1 if 
    (reposts_df.loc[
    (reposts_df.user_id == user_id)&
    (reposts_df.fan_id == fan_id)&
    (reposts_df.day_yr_date > x)&   
    (reposts_df.day_yr_date <= x + datetime.timedelta(days=days_delta))]).shape[0]>0 else 0)
                                          
repost_prob_df.sort_values(by='date_sent', inplace = True)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3857/3857 [10:47<00:00,  5.96it/s]

In [39]:
attempts = repost_prob_df.groupby(['creator_type', 'user_type'], as_index = False).size()
rewards = repost_prob_df.groupby(['creator_type', 'user_type'], as_index = False).agg({'reward_repost' : 'sum'})

priori_rep_df = rewards.merge(attempts)
priori_rep_df['P_rep_prob'] = priori_rep_df['reward_repost']/priori_rep_df['size']
priori_rep_df

    creator_type user_type  reward_repost    size  P_rep_prob
0          other    Hermit            1.0   14649    0.000068
1          other  Observer            0.0     476    0.000000
2          other       f_a            1.0   14851    0.000067
3          other     other          155.0  108225    0.001432
4          other       w_a           27.0   26343    0.001025
5     successful    Hermit            0.0    7593    0.000000
6     successful  Observer            0.0     943    0.000000
7     successful       f_a           46.0   13358    0.003444
8     successful     other          158.0  117985    0.001339
9     successful       w_a          558.0   62949    0.008864
10  unsuccessful    Hermit            0.0    5479    0.000000
11  unsuccessful  Observer            0.0      81    0.000000
12  unsuccessful       f_a            0.0    5423    0.000000
13  unsuccessful     other           23.0   42275    0.000544
14  unsuccessful       w_a            6.0    6382    0.000940

# Expected (Indirect) Returns Associated with a Song-Repost

In [40]:
import pickle as pkl
follower_lists = pd.read_pickle('/Users/caiorego/Desktop/BDS/RA/Seeding-Bandits/Data/alter_follower_lists.pkl')

In [42]:
expec_followers = user_activity_data_35k.loc[user_activity_data_35k.outbound_activity == 'share']
expec_followers = expec_followers.loc[expec_followers.user_id.isin(creators.user_id)]

In [43]:
expec_followers = expec_followers.loc[expec_followers.fan_id.isin(follower_lists.index.unique())]
expec_followers['expec_followers'] = np.nan
expec_followers.sort_values(['user_id', 'fan_id'], inplace = True)

follows_received.date_sent = follows_received.date_sent.dt.normalize()

for user_id in tqdm(expec_followers.user_id.unique()):
    follows_received_j = follows_received.loc[follows_received.user_id == user_id]
    for fan_id in expec_followers.loc[expec_followers.user_id == user_id].fan_id.unique():
        fan_follows = follower_lists.loc[follower_lists.index == fan_id].values[0]
        expec_followers.loc[(expec_followers.user_id == user_id)&
                                  (expec_followers.fan_id == fan_id),'expec_followers'] =\
        expec_followers.loc[(expec_followers.user_id == user_id)&
                                  (expec_followers.fan_id == fan_id)].date_sent.apply(
            lambda x : 
            np.sum(np.in1d(
                           follows_received_j.loc[(x <= follows_received_j.date_sent) & 
                                                  (follows_received_j.date_sent<= x + 
                                                   datetime.timedelta(days=days_delta))
                                                 ].values,
                fan_follows)
        ))

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1250/1250 [01:26<00:00, 14.43it/s]

In [44]:
expec_followers['user_type'] = expec_followers.fan_id.apply(lambda x: 'f_a' if x in f_a_ids else 
                          ('Hermit' if x in hermit_ids else
                          ('Observer' if x in observer_ids else
                          ('w_a' if x in w_a_ids else 'other'))))

## classify content creators
expec_followers['creator_type'] = expec_followers.user_id.apply(
                                            lambda x: 'successful' if x in successful_ids else 
                                            ('unsuccessful' if x in unsuccessful_ids else 'other'))

In [117]:
attempts = expec_followers.groupby(['creator_type', 'user_type'], as_index = False).size()
desc = expec_followers.groupby(['creator_type', 'user_type'], as_index = False).agg(expected_followers=('expec_followers', 'mean'),
                               std_expected_followers=('expec_followers', 'std'),
                               max_followers=('expec_followers', 'max'))

expect_return = attempts.merge(desc)

In [46]:
returns_table = priori_prob_df[['creator_type', 'user_type', 'P_resp_prob']].\
merge(priori_rep_df[['creator_type', 'user_type', 'P_rep_prob']]).\
merge(expect_return[['creator_type', 'user_type', 'expected_followers']])

In [47]:
returns_table['Expected_direct_return'] = returns_table['P_resp_prob']
returns_table['Expected_indirect_return'] = returns_table['P_rep_prob']*returns_table['expected_followers']
returns_table['Total_expected_return'] = returns_table['Expected_direct_return'] + returns_table['Expected_indirect_return']

In [71]:
returns_table[['creator_type', 'user_type', 'P_resp_prob', 'P_rep_prob',
       'expected_followers',
       'Expected_direct_return', 'Expected_indirect_return',
       'Total_expected_return']].loc[(returns_table.creator_type == 'successful')] #& (returns_table.user_type.isin(['Hermit', 'f_a']))]

,creator_type,user_type,P_resp_prob,P_rep_prob,expected_followers,Expected_direct_return,Expected_indirect_return,Total_expected_return
4,successful,Hermit,0.011573,0.000000,0.086957,0.011573,0.000000,0.011573
5,successful,Observer,0.086831,0.000000,0.000000,0.086831,0.000000,0.086831
6,successful,f_a,0.003418,0.003444,4.779641,0.003418,0.016459,0.019878
7,successful,other,0.059897,0.001339,1.570914,0.059897,0.002104,0.062001
8,successful,w_a,0.124825,0.008864,11.357512,0.124825,0.100677,0.225502

In [ ]:
round(returns_table, 3)

In [77]:
import pandas as pd
from tabulate import tabulate

# Assuming your DataFrame is called 'df'

table_to_format = returns_table[['user_type', 'P_rep_prob',
       'expected_followers',
       'Expected_direct_return', 'Expected_indirect_return',
       'Total_expected_return']].loc[(returns_table.creator_type == 'successful')]

# Convert the DataFrame to a nice table format
table = tabulate(round(table_to_format, 3), headers='keys', tablefmt='latex')

# Display the table
print(table)

\begin{tabular}{rlrrrrr}
\hline
    & user\_type   &   P\_rep\_prob &   expected\_followers &   Expected\_direct\_return &   Expected\_indirect\_return &   Total\_expected\_return \\
\hline
  4 & Hermit      &        0     &                0.087 &                    0.012 &                      0     &                   0.012 \\
  5 & Observer    &        0     &                0     &                    0.087 &                      0     &                   0.087 \\
  6 & f\_a         &        0.003 &                4.78  &                    0.003 &                      0.016 &                   0.02  \\
  7 & other       &        0.001 &                1.571 &                    0.06  &                      0.002 &                   0.062 \\
  8 & w\_a         &        0.009 &               11.358 &                    0.125 &                      0.101 &                   0.226 \\
\hline
\end{tabular}

In [ ]:
round(returns_table, 3)

In [68]:
#avg outbound activities from successful creators to the same user
mask = actions_sent.creator_type == 'successful'
size = actions_sent.loc[mask].groupby(['user_id', 'fan_id','user_type'], as_index = False).size()

In [70]:
size.groupby('user_type')['size'].mean()

user_type
Hermit      1.136336
Observer    1.069161
f_a         1.951212
other       1.406911
w_a         1.511054
Name: size, dtype: float64

In [79]:
expec_followers.

,fan_id,user_id,date_sent,outbound_activity,day_yr_date,respost_followers,expec_followers,user_type,creator_type
24180,23424319,37824681,2014-01-14 04:35:57,share,2014-01-14,NaN,0.0,w_a,successful
12684,35259482,37824681,2013-08-13 14:29:06,share,2013-08-13,NaN,0.0,w_a,successful
12694,35259482,37824681,2013-08-18 15:20:16,share,2013-08-18,NaN,0.0,w_a,successful
39470,75249096,37824681,2014-04-19 08:30:59,share,2014-04-19,NaN,0.0,w_a,successful
29157,3714141,37825479,2014-02-07 00:00:41,share,2014-02-07,NaN,1.0,other,other
...,...,...,...,...,...,...,...,...,...
81918,126708756,38501163,2015-04-14 04:44:55,share,2015-04-14,NaN,3.0,w_a,successful
13019,46469102,38502288,2013-06-04 07:14:07,share,2013-06-04,NaN,3.0,other,other
13025,46469102,38502288,2013-06-06 22:50:31,share,2013-06-06,NaN,2.0,other,other
52119,78334723,38502288,2014-02-05 00:59:49,share,2014-02-05,NaN,0.0,other,other
52123,78334723,38502288,2014-02-06 03:01:24,share,2014-02-06,NaN,0.0,other,other

In [100]:
#Response (Follow-Back) Probabilities
df = priori_prob_df

pivoted_df = round(df.pivot(index='creator_type', columns='user_type', values=['P_resp_prob'])*100,3)

# Display the pivoted DataFrame
pivoted_df

             P_resp_prob
user_type         Hermit Observer    f_a other     w_a
creator_type
other              1.141    3.960  0.129  3.36   4.247
successful         1.157    8.683  0.342  5.99  12.482
unsuccessful       1.388    3.279  0.204  1.84   2.313

In [106]:
from tabulate import tabulate

# Assuming you have the table data as a nested list called 'data'
data = [
    ["", "Hermit", "Observer", "Focused-Active", "Widely-Active"],
    ["other", 1.141, 3.960, 0.129, 4.247],
    ["successful", 1.157, 8.683, 0.342, 12.482],
    ["unsuccessful", 1.388, 3.279, 0.204, 2.313]
]

# Generate the LaTeX table
table = tabulate(data, headers="firstrow", tablefmt="latex")

# Display the LaTeX table
print(table)

\begin{tabular}{lrrrr}
\hline
              &   Hermit &   Observer &   Focused-Active &   Widely-Active \\
\hline
 other        &    1.141 &      3.96  &            0.129 &           4.247 \\
 successful   &    1.157 &      8.683 &            0.342 &          12.482 \\
 unsuccessful &    1.388 &      3.279 &            0.204 &           2.313 \\
\hline
\end{tabular}

In [109]:
#Response (Follow-Back) Probabilities
df = priori_rep_df

pivoted_df = round(df.pivot(index='creator_type', columns='user_type', values=['P_rep_prob'])*100,2)

# Display the pivoted DataFrame
pivoted_df

             P_rep_prob
user_type        Hermit Observer       f_a     other       w_a
creator_type
other          0.006826      0.0  0.006734  0.143220  0.102494
successful     0.000000      0.0  0.344363  0.133915  0.886432
unsuccessful   0.000000      0.0  0.000000  0.054406  0.094014

In [115]:
#Response (Follow-Back) Probabilities
df = expect_return

pivoted_df = round(df.pivot(index='creator_type', columns='user_type', values=['expected_followers']),2)

# Display the pivoted DataFrame
pivoted_df

             expected_followers
user_type                Hermit Observer   f_a other    w_a
creator_type
other                      0.92      NaN  0.37  0.79   0.61
successful                 0.09      0.0  4.78  1.57  11.36
unsuccessful               0.00      NaN  0.29  0.40   0.59

In [119]:
#Response (Follow-Back) Probabilities
df = expect_return

pivoted_df = round(df.pivot(index='creator_type', columns='user_type', values=['std_expected_followers']),2)

# Display the pivoted DataFrame
pivoted_df

             std_expected_followers
user_type                    Hermit Observer    f_a other    w_a
creator_type
other                          1.50      NaN   1.03  1.75   1.74
successful                     0.42      0.0  22.61  9.09  32.63
unsuccessful                   0.00      NaN   0.73  0.88   1.48